decord
einops
imageio
numpy
omegaconf
opencv_python
pandas
Pillow
pytorch_lightning
PyYAML
setuptools
torch
torchvision
tqdm
transformers
moviepy
av
xformers
gradio
timm
scikit-learn 
open_clip_torch==2.12.0
kornia
